body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: #dbfaff;
    color: black;
    margin: 60px;
}

.logo-container {
    text-align: center;
}

#temperatureDisplay,
#humidityDisplay {
    font-size: 18px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sensor-container,
.data-container {
    display: flex;
    flex-direction: column;
    /* Vertikale Anordnung */
    gap: 5px;
    flex: 1;
    margin: 0;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.sensor-container {
    margin-right: 10px;
}

#moistureBar {
    width: 100%;
    background-color: grey;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}

#moistureProgress {
    height: 100%;
}

#moistureText {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.divider {
    border: none;
    height: 2px;
    background-color: green;
    width: 100%;
    margin: 20px;
}

.data-container {
    font-size: 18px;
        color: black;
            font-weight: bold;
    display: flex;
    flex-direction: column;
    /* Vertikale Anordnung */
    gap: 5px;
}