/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.logo-container {
    text-align: center;
    margin-top: 20px;
}

/* Divider */
.divider {
    width: 80%;
    border: 1px solid #ddd;
    margin: 20px 0;
}

/* Hauptcontainer */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
}

/* Sensorcontainer */
.sensor-container {
    flex: 1;
    min-width: 300px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

.sensor-container div {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.sensor-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sensor-container button:hover {
    background-color: #0056b3;
}

/* Datencontainer */
.peripherals-container {
    flex: 1;
    min-width: 300px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

.peripherals-container .led-control {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Eingabefelder */
.peripherals-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
}

.peripherals-container input[type="number"],
.peripherals-container input[type="color"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.peripherals-container input[type="checkbox"] {
    margin-right: 10px;
}

#days label {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.9em;
}

/* Farbbox */
.color-box {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}

/* Formular-Button */
#configForm button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#configForm button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}