<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="app.js" defer></script> <!-- Verlinkung zur externen JavaScript-Datei -->
    <title>Smart Plantation</title>
</head>

<body>
    <div class="logo-container">
        <img src="Logo.png" alt="Logo" style="max-width: 100%; height: auto; margin-bottom: 20px;">
    </div>

    <hr class="divider">

    <div class="container">
        <div class="sensor-container">
            <div class="moisture-text" id="moistureText" hx-get="/adc" hx-trigger="load, every 1s" hx-swap="innerHTML">
                Bodenfeuchte: - %
            </div>
            <div id="moistureBar">
                <div id="moistureProgress" style="width: 0%;"></div>
            </div>

            <div id="temperatureDisplay" hx-get="/temperature" hx-trigger="load, every 1s" hx-swap="innerHTML">
                Temperatur: -
            </div>

            <div id="lightDisplay" hx-get="/light" hx-trigger="load, every 1s" hx-swap="innerHTML">
                Lichtintensität: - %
            </div>
        </div>

        <div class="data-container empty-data">
            <div class="led-control">
                <h2>LED Steuerung</h2>
                <!-- Farbauswahl -->
                <input type="color" id="colorPicker" value="#ffffff">
                <div class="color-box" id="colorBox"></div>
            
                <form id="ledForm" hx-post="/led_control" hx-trigger="change">
                    <input type="hidden" id="red" name="R" value="255">
                    <input type="hidden" id="green" name="G" value="255">
                    <input type="hidden" id="blue" name="B" value="255">
                    <button type="submit">LED Farbe setzen</button>
                </form>
            </div>
        </div>


    </div>
</body>

</html>