<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="app.js" defer></script>
    <title>Smart Plantation</title>
</head>

<body>
    <div class="logo-container">
        <img src="logo.png" alt="Logo" style="max-width: 100%; height: auto; margin-bottom: 20px;">
    </div>

    <hr class="divider">

    <div class="container">
        <div class="sensor-container">
            <div class="sensor-data">Sensor-Daten</div>
            <div class="moisture-text" id="moistureText" hx-get="/adc" hx-trigger="load, every 1s" hx-swap="innerHTML">
                Bodenfeuchte: - %
            </div>

            <div id="temperatureDisplay" hx-get="/temperature" hx-trigger="load, every 1s" hx-swap="innerHTML">
                Temperatur: -
            </div>

            <div id="lightDisplay" hx-get="/light" hx-trigger="load, every 1s" hx-swap="innerHTML">
                Lichtintensität: - %
            </div>

            <div id="tasmotaControl">
                <button hx-get="/plug_switch" hx-trigger="click" hx-swap="innerHTML">
                    Steckdose für 2 Sekunden einschalten
                </button>
            </div>
        </div>

        <div class="peripherals-container">
            <div class="config">Konfiguration</div>
            <label for="tempThreshold">Temperaturschwellenwert (°C):</label>
            <input type="number" id="tempThreshold" name="temp_threshold" placeholder="z.B. 25">
        
            <!-- Farbauswahl -->
            <label for="color">LED Farbe auswählen</label>
            <input type="color" id="colorPicker" value="#ffffff">
        
            <!-- Kombinierte Zeit-Eingabe -->
            <label for="time">Uhrzeit:</label>
            <input type="time" id="time" name="time">

            <!-- Versteckte Felder für Stunden und Minuten -->
            <input type="hidden" id="hour" name="hour">
            <input type="hidden" id="minute" name="minute">

        
            <label>Wochentage:</label>
            <div id="days">
                <label for="sunday">
                    So
                    <input type="checkbox" value="1" id="sunday" class="switch">
                    <span class="slider"></span>
                </label>
                <label for="monday">
                    Mo
                    <input type="checkbox" value="2" id="monday" class="switch">
                    <span class="slider"></span>
                </label>
                <label for="tuesday">
                    Di
                    <input type="checkbox" value="4" id="tuesday" class="switch">
                    <span class="slider"></span>
                </label>
                <label for="wednesday">
                    Mi
                    <input type="checkbox" value="8" id="wednesday" class="switch">
                    <span class="slider"></span>
                </label>
                <label for="thursday">
                    Do
                    <input type="checkbox" value="16" id="thursday" class="switch">
                    <span class="slider"></span>
                </label>
                <label for="friday">
                    Fr
                    <input type="checkbox" value="32" id="friday" class="switch">
                    <span class="slider"></span>
                </label>
                <label for="saturday">
                    Sa
                    <input type="checkbox" value="64" id="saturday" class="switch">
                    <span class="slider"></span>
                </label>
            </div>

        
            <!-- Formular für das Senden der Konfiguration -->
            <form id="configForm">
                <input type="hidden" id="red" name="red" value="255">
                <input type="hidden" id="green" name="green" value="255">
                <input type="hidden" id="blue" name="blue" value="255">
                <button type="submit">Konfiguration setzen</button>
            </form>
        </div>
    </div>
</body>

</html>
